<div class="flex flex-col flex-auto p-6 md:p-8">

    <!-- Close button -->
    <div class="flex items-center justify-end">
        <button
            [routerLink]="['../']"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Preview -->
    <div class="aspect-w-9 aspect-h-6 mt-8">
        <div class="flex items-center justify-center border rounded-lg bg-gray-50 dark:bg-card">
            <img alt="Family" class="object-cover" src="assets/images/profile/family-mock.webp">
        </div>
    </div>

    <!-- Name & Type -->
    <div class="flex flex-col items-start mt-8">
        <div class="text-xl font-medium">{{family.name}}</div>
    </div>

    <!-- Information -->
    <div class="text-lg font-medium mt-8">Information</div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Created By</div>
            <div>{{family.id}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Created At</div>
            <div>{{family.id}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Modified At</div>
            <div>{{family.id}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Size</div>
            <div>{{family.id}}</div>
        </div>
        <ng-container *ngIf="family.contents">
            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">Contents</div>
                <div>{{family.id}}</div>
            </div>
        </ng-container>
    </div>

    <!-- About -->
    <div class="flex items-center justify-between mt-8">
        <div class="text-lg font-medium">about</div>
        <button mat-icon-button>
            <mat-icon
                [svgIcon]="'heroicons_solid:pencil'"
                class="icon-size-5"></mat-icon>
        </button>
    </div>
    <div class="flex mt-2 border-t">
        <div class="py-3">
            <ng-container *ngIf="family.about">
                <div>{{family.about}}</div>
            </ng-container>
            <ng-container *ngIf="!family.about">
                <div class="italic text-secondary">Click here to add a description</div>
            </ng-container>
        </div>
    </div>

    <!-- Actions -->
    <div class="grid grid-cols-2 gap-4 w-full mt-8">
        <button
            [color]="'primary'"
            class="flex-auto"
            mat-flat-button>
            Download
        </button>
        <button
            class="flex-auto"
            mat-stroked-button>
            Delete
        </button>
    </div>

</div>
