<div class="flex flex-col flex-auto p-6 md:p-8">

    <!-- Close button -->
    <div class="flex items-center justify-end">
        <button
            [routerLink]="['../']"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Preview -->
    <div class="aspect-w-9 aspect-h-6 mt-8">
        <div class="flex items-center justify-center border rounded-lg bg-gray-50 dark:bg-card">
            <img alt="Family" class="object-cover" src="assets/images/profile/family-mock.webp">
        </div>
    </div>
    <!-- Name & Type -->
    <div class="flex flex-col items-start mt-8">
        <div class="text-xl font-medium">{{family.name}}</div>
    </div>

    <!-- Information -->
    <div class="text-lg font-medium mt-8">Members</div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">

        <div class="flex items-center justify-between ">
            <div class="w-full">
                <ng-container *ngFor="let member of family.members">
                    <div class="row">
                        <!-- Contact -->
                        <a [routerLink]="['./', member.id]"
                           class="z-20 flex items-center justify-between px-6 py-4 md:px-8 cursor-pointer border-b">
                            <!--                            <ng-container *ngIf="member.avatar">-->
                            <!--                                <img-->
                            <!--                                    class="object-cover w-full h-full"-->
                            <!--                                    [src]="member.avatar"-->
                            <!--                                    alt="Contact avatar"/>-->
                            <!--                            </ng-container>-->
                            <!--                            <ng-container *ngIf="!member.avatar">-->
                            <!--                                <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">-->
                            <!--                                    {{member.name.charAt(0)}}-->
                            <!--                                </div>-->
                            <!--                            </ng-container>-->
                            <div class="min-w-0 ml-4">
                                <div class="font-medium leading-5 truncate">{{member.name}}</div>
                                <div class="leading-5 truncate text-secondary">{{member.relation}}</div>
                            </div>
                            <div class="min-w-0 ml-4 ">
                                <button [color]="'primary'" [routerLink]="['../../','member', member.id]"
                                        class="flex-auto" mat-flat-button>View
                                </button>
                            </div>
                        </a></div>
                </ng-container>
            </div>
        </div>

        <div class="text-lg font-medium mt-8">About</div>
        <div class="flex items-center justify-between py-3">
            <div>{{family.about}}</div>
        </div>

        <div class="text-lg font-medium mt-8">Details</div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Division</div>
            <div>{{family.divisionId}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Sub Division</div>
            <div>{{family.subDivisionId || ''}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Member Since</div>
            <div>{{family.memberSince}}</div>
        </div>

    </div>


</div>
