quick-chat {
    z-index: 399;
}

/* Adjustments depending on the selected layout */
.quick-chat-header {
    height: 64px;

    enterprise-layout &,
    modern-layout & {
        height: 80px !important;
    }
}


/* Overlay */
.quick-chat-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 299;
    opacity: 1;
    background-color: transparent;
}
