<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">

            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    About
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- Overview -->
        <div class="max-w-2xl prose prose-sm">
            <h2>Apostolic era</h2>
            <p>
                According to the Eastern Orthodox tradition the history of the Eastern Orthodox Church is traced back to
                Jesus Christ and the Apostles. The Apostles appointed successors, known as bishops, and they in turn
                appointed other bishops in a process known as Apostolic succession. Over time, five Patriarchates were
                established to organize the Christian world, and four of these ancient Patriarchates remain Orthodox
                today. Orthodox Christianity reached its present form in Late Antiquity (in the period from the 3rd to
                the 8th century), when the Ecumenical Councils were held, doctrinal disputes were resolved, the Fathers
                of the Church lived and wrote, and Orthodox worship practices settled into their permanent form
                (including the liturgies and the major holidays of the Church).
            </p>
            <p>
                In the early medieval period, Orthodox missionaries spread Christianity towards the north, to the
                Bulgarians, Serbs, Russians and others. Meanwhile, a gradual process of estrangement took place between
                the four Eastern Patriarchates and the Latin Church of Rome, culminating with the Great Schism in the
                11th century, in which Orthodoxy and the Latin Church (later called the Roman Catholic Church) separated
                from each other. In the Late Middle Ages, the Fall of Constantinople brought a large part of the world's
                Orthodox Christians under Ottoman Turkish rule. Nevertheless, Orthodoxy continued to flourish in Russia,
                as well as within the Ottoman Empire among the latter's Christian subject peoples. As the Ottoman Empire
                declined in the 19th century and several majority-Orthodox nations regained their independence, they
                organized a number of new autocephalous Orthodox churches in Southern and Eastern Europe.
            </p>
        </div>
    </div>


</div>
